.btn-login {
    color: white;
    background-color: #F2598C;
}

.btn-login:hover {
    color: white;
    background-color: #f03171;
}

.title-login {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
}