.search-icon {
    border-radius: 10px !important;
    border-color: #E0E3E7 !important;
    background-color: #F3F6F9 !important;
}

/* PROFILE BUTTON */
.profile-button {
    border-radius: 10px !important;
    color: var(--color-links-sidebar) !important;
}
.profile-button:hover{
    background-color: rgb(250, 241, 244) !important;
}

