.topbar {
    background-color: transparent !important;
    color: black !important;
    transition: margin-left 0.3s, width 0.3s;
    border-bottom: solid 0px #c8c8c8 !important;
    box-shadow: none !important;
}

.topbar.collapsed {
    margin-left: 60px;
    width: calc(100% - 60px);
}

.topbar.expanded {
    margin-left: 240px;
    width: calc(100% - 240px);
}
