.topbar {
    background-color: white !important;
    color: black !important;
    transition: margin-left 0.3s, width 0.3s;
    border-bottom: solid 1px #e0e0e0 !important;
    box-shadow: none !important;
    z-index: 99999;
}

.profile-name {
    margin-right: 1rem;
}

.topbar.collapsed {
    background-color: white !important;
    margin-left: 60px;
    width: calc(100% - 80px);
}

.topbar.expanded {
    margin-left: 240px;
    width: calc(100% - 240px);
}