:root {
    --background-drawer: rgb(250, 241, 244);
    --background-link-hover: rgb(255, 204, 221);
    --color-links-sidebar: #757373;
    --color-links-strong: rgb(242, 37, 152);
    --color-header-sidebar: #757373;
}

.Drawer {
    width: 240px;
    flex-shrink: 0;
    white-space: nowrap;
}

.Drawer .MuiDrawer-paper {
    width: 250px;
    border-right: none;
    box-sizing: border-box;
    transition: width 0.3s;
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--background-drawer) !important;
}

.Drawer.closed {
    width: 70px !important;
}

/* MINI SIDEBAR */
.Drawer.closed .MuiDrawer-paper {
    width: 85px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px;
    padding: 0 16px;
}

.logo-container.closed {
    justify-content: center;
    padding: 0;
}

.logo {
    width: 60px;
    transition: width 0.3s;
}

.logo.closed {
    width: 70px;
}

.title {
    color: var(--color-links-strong) !important;
    font-size: 1.1rem !important;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-header {
    color: var(--color-header-sidebar) !important;
    font-size: 0.75rem !important;
    font-weight: 600;
    margin-top: 0.5rem;
    text-transform: uppercase;
    background-color: var(--background-drawer) !important;
}

.sidebar-list .list-item {
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    color: var(--color-links-sidebar) !important;
}

.sidebar-list .list-item:hover {
    color: var(--color-links-strong) !important;
    transition: background-color 0.3s;
    background-color: var(--background-link-hover) !important;
}


.sidebar-list .list-item .list-item-icon {
    color: var(--color-links-sidebar) !important;
    transition: color 0.3s;
}

.sidebar-list .list-item:hover .list-item-icon {
    transition: background-color 0.3s;
    color: var(--color-links-strong) !important;
}